@model List<ZamaTronicts.Models.CartPO>

@{
    ViewBag.Title = "ViewTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewTransactions</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayFor(model => model[0].supplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].supplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].productPrice)
        </th>
        <th>
            @Html.HiddenFor(model => model[0].checkOutID)
        </th>
        <th>
            @Html.HiddenFor(model => model[0].userTransactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].datePurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].checkOutQuantity)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model[0].checkOutShipping)
        </th>

        <th>
            @Html.HiddenFor(model => model[0].userTableID)
        </th>
        <th>
            @Html.HiddenFor(model => model[0].productID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].finalTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.supplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.checkOutID)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.userTransactionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkOutQuantity)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.checkOutShipping)
        </td>
       
        <td>
            @Html.HiddenFor(modelItem => item.userTableID)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.productID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finalTotal)
        </td>
       
    </tr>
}

</table>
